.panel {
    margin-bottom: none;
    box-shadow: 0px 3px 11px 0px rgba(0, 0, 0, 0.15);
}
.panel-default>.panel-heading {
    color: #333;
    font-family: "Helvetica Neue", Helvetica, "Segoe UI", Tahoma, Arial,sans-serif;
    border-color: #E1E6EB;
}
.panel-default>.panel-heading, #configMeasurables .options, #configOthers .options, .panel_heading, .panel_heading table thead tr {
    background-color: #E2E7EC;
}
.panel-default>.panel-heading {
    color: #333;
    font-family: "Helvetica Neue", Helvetica, "Segoe UI", Tahoma, Arial,sans-serif;
    border-color: #ddd;
}
.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.panel-body {
    padding: 15px;
}
.dias_horario_nd{
	width: 22px;
    text-align: center;
    float: left;
}
.dias_horario_nd_g{
	width: 154px;
	height: 54px
}