/*
.page-wrapper{
  background:url("fonun.png");
  background-repeat: round;
  background-position: center;
  background-attachment: fixed ; 
}
*/
@media (max-width:768px){
    .calender-sidebar{
        padding-left: 0px;
        padding-right: 0px;
    }
}
@media (max-width:411px){
    .container-fluid{
        padding: 0 5px;
    }
    .card-body{
        padding-right: 5px;
        padding-left: 5px;
    }
    .fc-title {
        font-size: 8.5px !important;
    }
    .fc th.fc-widget-header{
        font-size: 10px;
    }
    .fc-time{
        font-size: 11px;
    }
    .fc-event{
        padding: 1px;
    }
}
    
@media (max-width:768px){
    .dataTable tbody td{
    	padding-top: 10px;
    	padding-bottom: 10px;
    	padding-right: 10px;
    	font-size: 12px;
    }
    .dataTables_wrapper{
    	padding: 0px;
    }
    .container-fluid{
    	padding: 0 5px;
    }
}
