html { -webkit-font-smoothing: antialiased; }
/** Un Cambio **/

.ui-dialog {
    box-shadow: 0px 2px 19px 20px rgba(0, 0, 0, 0.17), 0 2px 10px 0 rgba(0,0,0,0.12);
}
    

.ui-effects-transfer { 
	border: 4px solid #59CE83; 
	border-radius: 8px;
	box-shadow: 0 20 15px #4DD09A ;
    -webkit-box-shadow: 0 20 15px #4DD09A ;
    -moz-box-shadow: 0 20 15px #4DD09A ;
    opacity: 0.5;
    background-color: #4DD09A;
    z-index: 9999999;
}
 
header {
	width: 100%;
	margin-bottom: 25px;
	background-color: #fff;
	/*height: 70px;*/
	opacity: 0.9;
	filter: alpha(opacity = 90);
	/*box-shadow: 0 1px 1px rgba(0,0,0,.1);*/
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0);
	-moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0);
	text-align: left;
}
header #logotype2 {width: 200px;vertical-align: middle;margin-left: 100px;margin-top:15px;margin-right: 30px;}
header .imgMenu {margin-right: 10px;vertical-align: subdisplay: inline-block;}
header .elogotype:hover {background-color:transparent !important;}


footer:before{content: "";display: block;clear:both;}
footer {
	position: relative;
	text-align: center;
	height: 60px;
	padding-right: 20px;
	padding-top: 15px;
	left: 0px;
	bottom: 0px;
	margin: 0px;
	overflow: hidden;
}

footer #privacidad {
	display: block;
	color: #fff;
	font-family:"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
	font-size:16px;
	text-weight:500;
	text-decoration: none;
	/*text-shadow: 2px 1px 3px #000;*/
/* 	margin-top: 8px; */
}
footer .poweredBy {
	font-family:"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
	margin-right: 15px;
	vertical-align: top;
	padding-top: 0px;
	margin-top: 0px;
	display: none;
}

footer .img-footer {vertical-align: top;width: 142px;height: 33px;padding-top: 0px;}


span.linkPrivacidad{text-decoration:underline;cursor:pointer;}
span.linkPrivacidad:hover{color:#44BD6C;}

article {font-family: "Roboto";}
textarea {resize: none;}


.ui-widget-overlay {background-image: none !important;}
input:focus, select:focus {border-color: #4FCCBC;}
input:-webkit-autofill { -webkit-box-shadow:0 0 0 500px white inset; }

.alertMsg {
	position:fixed;
	top: calc(50% - 150px); 
	left: calc(50% - 250px); 
	width:500px;
	height:auto;
	font-size:25px;
	font-family: "Roboto";
	text-align:center;
	border-radius:4px;
	z-index: 99999999;
	padding:20px;
	line-height:25px;
	-webkit-box-shadow: -1px 2px 23px -4px rgba(115,115,115,1);
	-moz-box-shadow: -1px 2px 23px -4px rgba(115,115,115,1);
	box-shadow: -1px 2px 23px -4px rgba(115,115,115,1);
}

.alertMsg.ok {
	background-color:#51C3B8;
	border:1px solid #01BA9A;
	color:#fff;
	font-size:22px;
}

.alertMsg.error {
	background-color:#F45F63;
	border:1px solid #E21015;
	color: #fff;
	line-height:30px;
	font-size:22px;
	text-align:center;
}

.notMarginBottom{margin-bottom:0px !important;}
.text-xs{font-size:12px !important;font-family: "Helvetica Neue", Helvetica, "Segoe UI", Tahoma, Arial, sans-serif;}
.text-sm{font-size:14px !important;font-family: "Helvetica Neue", Helvetica, "Segoe UI", Tahoma, Arial, sans-serif;}
.text-md{font-size:16px !important;font-family: "Helvetica Neue", Helvetica, "Segoe UI", Tahoma, Arial, sans-serif;}
.text-lg{font-size:18px !important;font-family: "Helvetica Neue", Helvetica, "Segoe UI", Tahoma, Arial, sans-serif;}
.text-xlg{font-size:20px !important;font-family: "Helvetica Neue", Helvetica, "Segoe UI", Tahoma, Arial, sans-serif;}
.text-bold{font-weight:500;font-family: "Helvetica Neue", Helvetica, "Segoe UI", Tahoma, Arial, sans-serif;}
.txt_Green{color:#23BE8C;}
.text-gray{color:#4A5A68;}
.text-gray2{color: #ADB5BD;}
.text-orange{color: #eaa031;}

/*.nav>li>a { padding: 0px!important;}*/
ul.menuEleonor>li>a{ padding: 0px!important;}


.info-message {
    background: linear-gradient(120deg,#c6e8df 25%,#a9d1e4 85%)!important;
    border: none!important;
    color: #0c3535!important;
    font-family: "Helvetica Neue", Helvetica, "Segoe UI", Tahoma, Arial, sans-serif;
}

.important-message {
    background: linear-gradient(120deg,#FFF1D8 25%,#FFD79C 85%)!important;
    color: #0c3535!important;
    font-family: "Helvetica Neue", Helvetica, "Segoe UI", Tahoma, Arial, sans-serif;
}

.ad-message {
    background: linear-gradient(120deg,#d2f2ff 25%,#abc7ea 85%)!important;
    color: #0c3535!important;
    font-family: "Helvetica Neue", Helvetica, "Segoe UI", Tahoma, Arial, sans-serif;
}

.gold-message {
    background: linear-gradient(120deg,#f7f6e4 25%,#dccd95 85%)!important;
    color: #333!important;
    border: 1px solid #e8ca5c;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .1)!important;
    background-image: url(https://image.freepik.com/vector-gratis/fondo-amarillo-formas-abstractas-dinamicas_1393-144.jpg);
    background-img: url(https://image.freepik.com/vector-gratis/fondo-amarillo-formas-abstractas-dinamicas_1393-144.jpg);
    font-family: "Helvetica Neue", Helvetica, "Segoe UI", Tahoma, Arial, sans-serif;
}
.shadowBase{box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .1)!important;}
.blue-Header{background: linear-gradient(120deg,#d1dfef 25%,#a6bfde 85%)!important;}



.collapsible .chead {
	position: relative;	
	cursor: pointer;
/*	-webkit-box-shadow: 1px 0px 3px #373c3c;
    -moz-box-shadow: 1px 0px 3px #373c3c;
    box-shadow: 1px 0px 3px #373c3c;*/
	
	/*
	-webkit-box-shadow: 11px 14px 6px -13px rgba(161,159,161,1);
	-moz-box-shadow: 11px 14px 6px -13px rgba(161,159,161,1);
	box-shadow: 11px 14px 6px -13px rgba(161,159,161,1);*/
}

.collapsible .chead:after {
	position: absolute;	
	/*top: 10px;*/
	content: url('/img/ico_flechaAbajo.png');
	right: 5px;		
}


.textEleonor {
    color: #01B19A;
}
.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('/img/svg/animate/capsula-animada.svg') 
                50% 50% 
                no-repeat;
    background-size: 60px 60px;
}



/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
/*scrollbar changes*/
/*scroll style*/
::-webkit-scrollbar {
  width: 14px;
  height: 14px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background:#BFBFBF;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track {
  background: #F1F1F1;
  border: 0px none #ffffff;
  
}

::-webkit-scrollbar-track:active {
  background: #F1F1F1;
}
::-webkit-scrollbar-thumb:active {
  background:#62B7BD;
}
/*fin de scroll style*/

   
/**/   
   
   
   
body.loading {
    overflow: hidden;   
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal {
    display: block;
}

article:after {
    clear: both;
    content: "";
    display: block;
}


.btn_vacio {
	padding: 6px 12px;
    display: inline-block;
    outline: 0px;
    color:#34d4af;
    background-color:#fff;
    border:1px solid #4DD09A!important;
    height: 35px;
    font-family: "Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    min-height: 35px;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    -webkit-appearance: none;
    outline: none;
    box-shadow: none;
}

.btn_vacio:hover {
	background-color:#3cc5a6;
	 -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    will-change: opacity, transform;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out transition: all .3s ease-out;
    color:#fff; 
    border:none;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.15);
}
/***/
.btn_vacio_ {
	padding: 6px 12px;
    display: inline-block;
    outline: 0px;
    border:1px solid #E2E2E2!important;
    background-color:#fff;
    height: 35px;
    font-family: "Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    min-height: 35px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    -webkit-appearance: none;
    outline: none;
    border:none;
}

.btn_vacio_:hover {
	color:#21C1B4 !important; 
    border:1px solid #21C1B4!important;
    background-color:#fff!important;
   box-shadow: 0 1px 3px 0 rgba(0,0,0,0.15)!important;
       transition: box-shadow 100ms,transform 100ms,background-color 100ms,border-color 100ms;

}


/***/
.btn_vacio_blue{
	padding: 6px 12px;
    display: inline-block;
    outline: 0px;
    color: #4A5A68;
    border: 1px solid #a1a9c3;
    background-color:#fff;
    height: 35px;
    font-family: "Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    min-height: 35px;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    -webkit-appearance: none;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    outline: none;
}

.btn_vacio_blue:hover{
	background-color:#CDD5DA;
	 -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    will-change: opacity, transform;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out transition: all .3s ease-out;

    border:none;
}


.btn_vacio_blue:active{
	background-color:#606984;
}

.btn_relleno{
    min-width: 130px;
    padding: 5px 30px;
    outline: 0px;
    color: #fff;
    background-color: #34d4af;
    height: 35px;
    font-family: "Roboto";
    min-height: 35px;
    border-radius: 3px;
    font-size: 16px;
    padding: 5px 20px;
    cursor: pointer;
    border: none;
    text-align: center;
    -webkit-appearance: none;
    outline: none;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
}

.btn_relleno:hover{
	text-decoration: none;
	background-color:#009c95;
	-moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color:#fff; 
  	 border:none;
 	  box-shadow: 0 0 5px #4DD09A;
    -webkit-box-shadow: 0 0 5px #4DD09A;
    color: #fff !important;
    -ms-transition: background-color 0.2s ease-in-out 0s, opacity 0.2s ease-in-out 0s;
    transition: background-color 0.2s ease-in-out 0s, opacity 0.2s ease-in-out 0s;
}
.btn_relleno:active{background-color:#39AC93;}


.btn_blanco {
    text-align: center;
    background-color: #fff;
    font-family: "Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    font-size: 16px;
    color: #667080;
    /*width: 130px;*/
    min-width: 130px;
    padding: 5px 30px;
    border: solid 1px;
    height: 35px;
    min-height: 35px;
    cursor: pointer;
    -webkit-appearance: none;
    border-radius: 3px;
    border-color: #ccc;
    outline: 0px;
}

.btn_blanco:hover{
	background-color:#D2D6DB;outline:0px;
	-webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    will-change: opacity, transform;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out transition: all .3s ease-out;
    color:#fff; 
    border:none;
}

.btn_cancel{
	color: #667080;
	border-color: #ccc;
}

/*.btn_cancel:hover{
	color: #fff;
	background-color:#FF7474;

}*/

/*************************************************** ESTILOS PARA LOS SWITCHES ******************************************************/
/***                                                                                                                              ***/

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
  font-size:12px;
  text-align:center;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:hover{box-shadow: 0px 1px 2px 0px #9a9a9a;background-color:#B9B9B9;}

.slider:before {
  position: absolute;
  content: "";
  height: 17px;
  width: 17px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

#ginecoQuestions input:checked + .slider span:before {
    content: "Si";
    margin-left: -20px;
    display: inline-block;
}

#ginecoQuestions .slider span:before {
    content: "No";
    margin-left: 25px;
    display: inline-block;
    margin-top: 2px;
}
input:checked + .slider:hover{background-color:#24BDB1;}
input:checked + .slider {background-color: #2ad3be;}
input:checked + .slider span:before {content: "Si";margin-left: -20px;display: inline-block; width:50px; color:#fff; }
input:focus + .slider { box-shadow: 0 0 1px #2196F3;}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round { border-radius: 34px; min-width: 50px;}
.slider.round span:before {content: "No";margin-left: 25px;display: inline-block; margin-top: 2px;
}

.slider.round:before {border-radius: 50%;}

/***                                                                                                                              ***/
/************************************************************************************************************************************/

.fileUpload, .fileSelector  {
    position: relative;
    overflow: hidden;
    margin: 5px;
    cursor:pointer;
}

.fileUpload input.upload, .fileSelector input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.Vtitleh1{color: #59636C;font-family: "Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif; font-weight: 400;font-size: 20px; margin-top:0px;}
.Vtitleh3{color: #59636C;font-family: "Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif; font-weight: 500;font-size: 16px;}
.titleBlack{font-weight: 500;}
.vtBlue{color:#01BEB8;font-size: 14px;font-weight: 500;}
.btn_large{
	margin-bottom:5px;
	color: #fff;
	background-color: #69CA89;
	height: 35px;
	font-family:"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
	min-height: 35px;
	border-radius: 3px;
	font-size: 16px;
	padding: 5px 20px;
	cursor: pointer;
	border: none;
	text-align: center;
	width:73%;
	text-transform:uppercase;
	-webkit-appearance: none;
	 outline: none;
}

.btn_large:hover{
	background-color:#37B494;
	-webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    vertical-align: middle;
    z-index: 1;
    will-change: opacity, transform;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    transition: all .3s ease-out;}

.vtGreen{color:#44BD6C;font-size: 16px;font-weight: 500;}
.cBlue{color:#009D84;}
.cBlack{color: #59636C;}
.cGreen{color:#44BD6C;}
.textInf{font-size:18px;}
.Vtext {color: #667080;font-size: 16px; line-height: 20px;margin-right: 10px;}
.marginTop{margin-top:20px;}
.marginTop-l{margin-top:40px !important;}
.marginTop-s{margin-top:10px;}
.marginTop-xs{magin-top:5px;}
.marginBottom{margin-bottom:20px;}
.text-roboto{font-family:Roboto;font-size:16px;}
.marginBottom-s{margin-bottom:5px;}
.marginBottom-m{margin-bottom:15px;}
.marginBottom-l{margin-bottom:20px;}
.marginBottomBig{margin-bottom:40px;}

.paintScuare {margin-top:10px;}
.VtextGreen{color:#667080;cursor:pointer; font-weight:500;font-size:16px;font-family: "Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;min-height: 35px;}
.VtextGreen:hover{color:#44BD6C;}

.VtextGreen2{color:#667080;cursor:pointer; font-weight:500;font-size:14px;font-family: "Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;min-height:35px;}
.VtextGreen2:hover{color:#3cc5a6;}
.VtextGrey2{color:#667080;cursor:pointer; font-weight:500;font-size:14px;font-family: "Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;min-height:35px;}
.VtextGrey2:hover{color:#222;}

.ellipsis{ width:55%; white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.ellipsisLong{ white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.nonRounded{border-radius:0px;}
.yesRounded{border-radius:50px  !important;}
.hiddenTitle { position: relative; }
.hiddenTitle .tooltip {     
	position: fixed;
    padding: 10px 6px;
    display: inline-block;
    border-radius: 4px;
    background-color: #2D3639;
    left: 51px;
    opacity: 0.8;
    color: #fff;
    font-size: 10px;
    line-height: 10px;
    width: auto;
    height: auto;
 }
/*.ellipsis:hover {width:300px;white-space: initial;overflow:visible;cursor: pointer; line-height:18px; text-align:left;}*/

.noticeImportant{
	color: #e34e4e !important;
    font-weight: 500 !important;
    font-size: 16px;
    
}
#gn-menu .noticeImportant {
	width: 100px;
    line-height: 20px;
}
.warning {
	background-color:#FFFDE4 !important;
	color: #000 !important;
}


.invalid {
    background-color:#f39090;
    color: #fff;
}

.valid {
    background-color:#f7e48d;
    color: #586c72;
}

.dDisabled{
	background-color:#E6E9EC !important;
	color:#8796A5 !important;
	height: 35px;
    font-family: "Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    min-height: 35px;
    border-radius: 3px;
    font-size: 16px;
    padding: 5px 20px;
    cursor: pointer;
    border: none;
    float: right;
}

.htext{font-size:16px !important;}

#newConsultationArea .collapsible .chead:after{content: url(/img/ico_flechaAbajo-blue.png);}

/*botones cancelar: con borde rojo son relleno */
.btn_rellenoScolor{
	min-width: 130px;
    padding: 5px 30px;
    outline: 0px;
    height: 35px;
    font-family: "Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    min-height: 35px;
    border-radius: 3px;
    font-size: 14px;
    padding: 5px 20px;
    cursor: pointer;
    text-align: center;
    -webkit-appearance: none;
    outline: none;
}

/*.btn_reintentar{background-color:none;border-color:#FF4D4D;color:#FFADAD;}
.btn_reintentar:hover{background-color:#FF4D4D;border-color:none;color:#FFF;}

.btn_cancelarGris{background-color:none;border-color:#9BA1A5;color:#9BA1A5;}
.btn_cancelarGris:hover{background-color:#9BA1A5;border-color:none;color:#FFF;}*/

/*para llinks con subrayado*/
.linkBlue{color:#006CD8;font-size:14px;text-decoration:underline;}
 .alignRight{text-align:right;}
 
 //Style tutorial

 
 /**********************************media queris************************************************/
 
 @media( max-width: 1024){
 	.text-md{font-size:14px;}
 }
@media( max-width :640px) {
			.alertMsg {
			position:fixed;
			top: calc(50% - 150px); 
			left: calc(50% - 125px); 
			width:250px;
			height:auto;
			font-size:14px !important;
			font-family: "Roboto";
		}

		.alertMsg.ok {
			background-color:#4CBE83/*#64CA83*/;
			border:1px solid #41B176;
			color:#fff;
		}

		.alertMsg.error {
			background-color:#eb6369;
			border:1px solid #E8464F;
			color: #fff;
		}
	
	
}
@media (max-width: 992px){
	.containerTips{
	    float: left;
	}
}
/* Tours */
.blink {
  animation: blink-animation 1s steps(5, start) infinite;
  -webkit-animation: blink-animation 1s steps(5, start) infinite;
}
@keyframes blink-animation {
  to {
    border-color : #69CA89;
	background-color : #DDF3E4;
  }
}
@-webkit-keyframes blink-animation {
  to {
    
  }
}
#tip{
	background-color: #fff;
    width: 650px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
   
    -webkit-box-shadow: 0px 1px 2px  rgba(0,0,0,0.32);
	-moz-box-shadow: 0px 1px 2px rgba(0,0,0,0.32);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.32);
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border: 1px solid #BABABC;
}
.loadingGif{
	display: block;
	margin: auto;
	width: 60px;
	height: 60px;
}
.tipsSubtitle{
	text-align: center;
	font-size: 14px;
	font-weight: bold;

}
#tipText{
	text-align: center;
	font-size: 14px;
	height: 30px;
	}
.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}
.containerTips{
	margin-right: 100px!important;
    margin-left: 100px!important;
    
}
.containerTips div{
 	margin-bottom: 20px;
 	margin-top: 10px;
 }
.feedBackButtons{
	width: 65%;
	cursor:pointer;
	
}

.modal .feedBackButtons:hover {
opacity:1;
}

.modal .feedBackButtons:active{
	-webkit-filter: saturate(190%);
filter: saturate(190%);
	 -webkit-transform:scale(1.6);   /* Efecto de zoom */
    -moz-transform:scale(1.6);
    -o-transform:scale(1.6);
  -ms-transform:scale(1.6);
transition-delay: initial
}


.modal .feedBackButtons{
	max-height:60px;
	min-height:10px;
	max-width:60px;
	min-width:10px;
	opacity: 0.9;
}

.big {   /* Trancisiones */
-webkit-transition:0.4s;   /
-moz-transition:0.4s;
-o-transition:0.4s;
-ms-transition:0.4s;
}
.big:hover {
cursor:pointer;
-webkit-transform:scale(1.2);   /* Efecto de zoom */
-moz-transform:scale(1.2);
-o-transform:scale(1.2);
-ms-transform:scale(1.2);
-webkit-transition:0.2s;   /* Trancisiones */
-moz-transition:0.2s;
-o-transition:0.2s;
-ms-transition:0.2s;
}


.tipTextContainer{
	height: 60px;
}
.tituloTips{
    font-family: "Helvetica Neue", Helvetica, "Segoe UI", Tahoma, Arial, sans-serif;
    font-size: 18px;
    /* font-weight: 500; */
    margin-top: 10px;
    color: #212121;
    /*#4A5A68;*/
    text-align: center;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}


.billingInfo .cancel {
	color: red;
	 text-decoration: overline;
}  

.recordableHolder {
	width: 100%;
}
